body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 600px;
    left: 50%;
    margin: -300px 0 0 -400px;
    position: absolute;
    top: 50%;
    width: 800px;
}

.editor {
    grid-column: auto;
}

.ace_editor .ace_marker-layer .ace_error_bracket {
    display: none;
}

.ace_editor .ace_marker-layer .ace_bracket {
    display: none;
}
