node_modules/*
node_modules/ace-builds/*
node_modules/ace-builds/src-min-noconflict/snippets
node_modules/mithril/*
!node_modules/ace-builds
!node_modules/ace-builds/LICENSE
!node_modules/ace-builds/src-min-noconflict
!node_modules/mithril
!node_modules/mithril/mithril.min.js
!node_modules/mithril/LICENSE