/* application.css */

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 600px;
  left: 50%;
  margin: -300px 0 0 -400px;
  position: absolute;
  top: 50%;
  width: 800px;
}

.editor {
  grid-column: auto;
}

.ace_editor .ace_marker-layer .ace_error_bracket {
  display: none;
}

.ace_editor .ace_marker-layer .ace_bracket {
  display: none;
}

.ace_link {
  text-decoration: underline;
  color: #4f8aff;
}

/* .virtualsky {
  width: 500px;
  height: 350px;
} */

.hidden {
  display: none;
}

/* wallpaper fills */

.fill-071 {
  background-image: url('../images/fill-071.png');
}

.fill-074 {
  background-image: url('../images/fill-074.png');
}

.fill-075 {
  background-image: url('../images/fill-075.png');
}

.fill-076 {
  background-image: url('../images/fill-076.png');
}

.fill-080 {
  background-image: url('../images/fill-080.png');
}

.fill-087 {
  background-image: url('../images/fill-087.png');
}

.fill-096 {
  background-image: url('../images/fill-096.png');
}

.fill-099 {
  background-image: url('../images/fill-099.png');
}

.fill-103 {
  background-image: url('../images/fill-103.png');
}

.fill-108 {
  background-image: url('../images/fill-108.png');
}

.fill-114 {
  background-image: url('../images/fill-114.png');
}

.fill-115 {
  background-image: url('../images/fill-115.png');
}
