body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 600px;
    left: 50%;
    margin: -300px 0 0 -400px;
    position: absolute;
    top: 50%;
    width: 800px;
}

.editor {
    grid-column: auto;
}

.ace_editor .ace_marker-layer .ace_bracket {
    display: none;
}

.ace_editor .ace_marker-layer .ace_error_bracket {
    display: none;
}

.fill-071 {
    background-image: url("wallpapers/071.png");
}

.fill-074 {
    background-image: url("wallpapers/074.png");
}

.fill-075 {
    background-image: url("wallpapers/075.png");
}

.fill-076 {
    background-image: url("wallpapers/076.png");
}

.fill-080 {
    background-image: url("wallpapers/080.png");
}

.fill-087 {
    background-image: url("wallpapers/087.png");
}

.fill-096 {
    background-image: url("wallpapers/096.png");
}

.fill-099 {
    background-image: url("wallpapers/099.png");
}

.fill-103 {
    background-image: url("wallpapers/103.png");
}

.fill-108 {
    background-image: url("wallpapers/108.png");
}

.fill-112 {
    background-image: url("wallpapers/112.png");
}

.fill-114 {
    background-image: url("wallpapers/114.png");
}

.fill-115 {
    background-image: url("wallpapers/115.png");
}

.fill-120 {
    background-image: url("wallpapers/120.png");
}

.fill-122 {
    background-image: url("wallpapers/122.png");
}

.fill-133 {
    background-image: url("wallpapers/133.png");
}

.fill-134 {
    background-image: url("wallpapers/134.png");
}

.fill-135 {
    background-image: url("wallpapers/135.png");
}

.fill-140 {
    background-image: url("wallpapers/140.png");
}
